.table-light {
  border: 1px solid black;
  width: 500px;
  background:rgba(255,255,255, 0.5);
  animation: bounceInDown;
  animation-duration: 1s;
}

.show_box {
  display: flex;
  justify-content: space-evenly;
}

.empty_cart {
  text-align: center;
  margin-top: 5em;
}
