// Import page-specific CSS files here.
@import "home";
@import "about";
@import "profile";
@import "show";
@import "cart_show";
@import "payments_new";


.indexfullpage {
  position: relative;
  z-index: 1;
}

.indexfullpage::after {
  content: "";
  background-image: url(asset_path("logocuttransparent.png"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .2;
}

h4 {
font-family: 'David Libre', serif;
font-size: 30px;
margin-top:10px;
}

p {
font-family: 'David Libre', serif;
margin-top: 5px;
}

h6 {
  margin-top: 10px;
}


.card-body {
  text-align: center;
}


  //margin-left: 50px;
  //margin-top: 30px;
  //width: 317px;
  //border-style: ridge;

.search-bar {
  margin-left: 50px;
  margin-top: 30px;
  width: 50vw;
}

.image-box {
  box-shadow:20px 20px 50px grey;
  animation: fadeIn;
  animation-duration: 3s;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

.digg_pagination {
  background: rgba(255,255,255, 0.1);;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #B5CA8D;
    color: white;
    border: 1px solid #B5CA8D; }
  .digg_pagination a {
    text-decoration: none;
    color: #B5CA8D;
    border: 1px solid #8BB174; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #9534a4;
      border-color: #9534a4; }
  .digg_pagination .page_info {
    background: #B5CA8D;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #8BB174;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

@media screen and (max-width: 600px) {
  .column {
    width: 80%;
    justify-content: center;
  }
  .card-body {
  text-align: center;
  }
}

//@media only screen and (max-width: 480px) {
//.container {
//  grid-template-columns: 1fr;
//  padding: 3em;
//  grid-row-gap: 30px;
//}
//.card-body {
//  text-align: center;
//}
//}
