.profile-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  letter-spacing: 3px;
  width: auto;
  height: 50%;
}

.shopping-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  letter-spacing: 3px;
  width: auto;
}

.all-profile-boxes {
  display: flex;
  justify-content: space-evenly;
}


.card-text {
  text-align: center;
}

.card-header {
  font-family: 'David Libre', serif;
  font-weight: bold;
  font-size: 20px;
}

.review-box {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 100px;
  letter-spacing: 3px;
  width: auto;
}

.review-box h3{
  font-family: 'David Libre', serif;
  padding-bottom: 15px;
}
