.card {
  background: rgba(179, 178, 56, .1);
  padding: 10px;
  text-align: left;
  margin-bottom: 15px;
}


h1 {
  font-family: 'David Libre', serif;
}

.card li{
  padding-bottom: 10px;
}

.card h5{
  font-family: 'David Libre', serif;
}

.review_box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

#comment_title h4{
font-family: 'David Libre', serif;
  font-weight: lighter;
  text-align: center;
  color: #951b80;
  padding-bottom: 10px;
  padding-top: 70px;
}




@media only screen and (max-width: 768px) {
.productshow {
  grid-template-columns: 1fr;
  padding: 3em;
  grid-row-gap: 30px;
}
}

