.card {
  background: rgba(246, 224, 208, .3);
  padding: 10px;
  text-align: left;
  margin-bottom: 15px;
}

.card li{
  padding-bottom: 10px;
}

.card h5{
  font-family: 'David Libre', serif;
}

.review_box {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
  justify-content: center;
}
