.card {
  background: rgba(246, 224, 208, .3);
  padding: 10px;
  text-align: left;
  margin-bottom: 15px;
}

.card li{
  padding-bottom: 10px;
}

.card h5{
  font-family: 'David Libre', serif;
}

.review_box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 70px;
  justify-content: center;
}

#comment_title h4{
font-family: 'David Libre', serif;
  font-weight: lighter;
  text-align: center;
  color: #951b80;
  padding-bottom: 10px;
  padding-top: 30px;
}
