<div class="logopic" style="position: relative;">
  <%= image_tag "fotodeapresentação.jpg" %>
</div>

<div class="about-message">
  <p>Com a energia dos 4 elementos e seus elementais, colhemos, secamos, maceramos e misturamos as nossas matérias primas para que os nossos produtos ajudem a melhorar a qualidade de vida de quem os utiliza.</p>
  <p>Shampoos e condicionadores, cremes corporais , faciais e terapêuticos, hidratantes labiais, sinergias,</p>
  <p>saboaria e desodorizantes são alguns exemplos da "Arte que Cura", disponíveis na nossa página no facebook!</p>
</div>
