<div class="logopic" style="position: relative;">
  <%= image_tag "fotodeapresentaçãoblur.jpg"%>
</div>

<div class="about-message">
  <h4>Olá</h4>
  <h5>Sejam muito bem-vindos à nossa família que é composta por cinco membros:</h5>
  <br>
    <div class="about-family">
      <p>A Mara - a mãe e a fazedora da Arte curativa</p>
      <p>O Pedro - o pai e Alquimista da Saboaria</p>
      <p>A Tamara e a Simone - as filhotas e também fazedoras de Artes, sendo elas a alegria, a criatividade e o amor.</p>
      <p>A Amizade - a nossa protetora felina</p>
    </div>

   <p class="text-center">
    Das nossas constantes metamorfoses de nós próprios, em busca do equilíbrio entre o ser e o estar aqui neste maravilhoso planeta, nasceu o projecto de nome Arte que Cura; um simples conceito o guia, o de proporcionar a cada um de nós a possibilidade de adquirirmos o conhecimento para fazermos ou adquirirmos - já produzidos - Bens Essenciais à nossa saúde - tanto física, como mental e até espiritual - feitos em perfeita comunhão com a Mãe Terra.
   </p>

   <p class="text-center">
     Dessa comunhão nasce uma tomada de consciência que nos leva a um poderoso compromisso entre nós e a própria natureza - produtora de toda a matéria curativa que necessitamos - que é de cuidar de ambas de igual forma, com consciência, com respeito, com gratidão e muito amor no coração. 
   </p>

<%# 
  <p>Com a energia dos 4 elementos e seus elementais, colhemos, secamos, maceramos e misturamos as nossas matérias primas para que os nossos produtos ajudem a melhorar a qualidade de vida de quem os utiliza.</p>
  <p>Shampoos e condicionadores, cremes corporais , faciais e terapêuticos, hidratantes labiais, sinergias,</p>
  <p>saboaria e desodorizantes são alguns exemplos da "Arte que Cura", disponíveis na nossa página no facebook!</p> %>
</div>
