
  <div class="logopic" style="position: relative;">
    <%= image_tag "logocuttransparent.png" %>
  </div>

  <div class="presentation_text" style="margin-top: 5%">
    <p>Mãos com arte, Mãos de cura!</p>
    <p>Da comunhão a quatro mãos nascem pedaços de arte que curam o corpo, a alma e purificam o espírito.</p>
  </div>
<br>
