
  <!--
  <div class="logopic" style="position: relative;">
    <%= image_tag "logocuttransparent.png" %>
  </div>

  <div class="presentation_text" style="margin-top: 5%">
    <p>Mãos com arte, Mãos de cura!</p>
    <p>Da comunhão a quatro mãos nascem pedaços de arte que curam o corpo, a alma e purificam o espírito.</p>
  </div>
<br>
-->



<div class="triangles">
  <div class="img img--1"></div>
  <div class="img img--2"></div>
  <div class="img img--3"></div>
  <div class="img img--4"></div>
  <div class="img img--5"></div>
  <div class="img img--6"></div>
  <div class="img img--7"></div>
  <div class="img img--8"></div>
</div>

   <div class="logopic" style="position: relative;">
    <%= image_tag "logocuttransparent.png" %>
  </div>

  <div class="presentation_text" style="margin-top: 5%">
    <p>Mãos com arte, Mãos de cura!</p>
    <p>Da comunhão a quatro mãos nascem pedaços de arte que curam o corpo, a alma e purificam o espírito.</p>
  </div>

