.navbar-lewagon {
  justify-content: space-between;
  background-image: #951B80;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-options li {
  font-family: 'Sansita Swashed', cursive;
  font-weight: bold;
  font-size: 20px;
}

.login-menu {
  font-family: 'Sansita Swashed', cursive;
  float: right;
}
