.navbar-lewagon {
  justify-content: space-between;
  //background-image: rgba(250, 250, 250, 0.7);
  background-color: rgba(250, 250, 250, 0.7);
  z-index: 1;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-options li {
  font-family: 'Sansita Swashed', cursive;
  font-weight: lighter;
  font-size: 20px;
}

.login-menu {
  font-family: 'Sansita Swashed', cursive;
  float: right;
}

.cart {
  margin-top: 7px;
  margin-right: 20px;
}
