<%= simple_form_for [product, review] do |f| %>
  <h3>Escreva o seu comentário:</h3>
  <%= f.input :description %>
  <%= f.button :submit, "Enviar", class: "btn btn-outline-success" %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
<% end %>
